#principal{

}

.linha{
	border: 1px solid red;
	margin: 5px;
	display: inline;
}

.bloco{
	border: 1px solid red;
	margin: 5px;
	display: block;
}

.linha-bloco{
	border: 1px solid red;
	margin: 5px;
	display: inline-block;
}