
.conteudo{
	background: gray;
	border: 1px solid black;
	width: 200px;
	height: 200px;
	float: left;
	margin: 10px;
}

/*
.conteudo1{
	background: yellow;
	border: 1px solid black;
	width: 150px;
	height: 150px;
	float: left;
}
*/

.conteudo-zero{
	background: yellow;
	border: 1px solid black;
	width: 150px;
	height: 150px;
}