
#principal{
	width: 660px;
	border: 1px solid darkred;
}

.titulo{
	font-size: 20px;
	color: black;
	text-align: center;
	text-decoration: none;
}

.noticia{
	background: #e5e5e5;
	padding: 5px;
	width: 200px;
	margin: 5px;
	float: left;
}

.noticia img{
	width: 200px;
}

.noticia a{
	color: black;
	text-decoration: none;
}

.noticia a:hover{
	color: darkred;
	text-decoration: none;
}

.clear{
	clear: both;
}