body{
	font-size: 30px;
	font-family: "Times New Roman", Times, serif;
}

.padrao{
	font-weight: normal;
}

.negrito{
	font-weight: bold;
}

.italico{
	font-style: italic;
}

.formatacao{
	/*text-decoration: underline;*/
	/*text-decoration: overline;*/
	text-decoration: line-through;
}

.mix{
	font: bold 20px sans-serif;
}