/*PADDING = espaçamento interno*/
/*MARGIN = espaçamento externo*/

.conteudo{
	border: 5px solid orange;
	margin: 15px;	/*topo; direita; base; esquerda*/
					/*bases; lados*/
	padding: 15px; 	/*topo; direita; base; esquerda*/
					/*bases; lados*/
	width: 200px;	
}

/*---NOTÍCIA---*/

#noticia{
	background: gray;
	border: 1px solid black;
	padding: 20px;
}

h2, p{
	border: 1px solid white;
	margin: 0px;
}