#topo{
	background-color: #483D8B;
	color: white;
}

#conteudo{
	background-color: #836FFF;
}

#rodape{
	background-color: #483D8B;
	color: white;
}

#assinatura{
	background-color: #191970;
	color: white;
}

.produto{
	padding: 10px;
	margin: 10px;
	background-color: #C0C0C0;
}