
#principal{
	border: 1px solid red;
	background: orange;
}

.conteudo{
	background: gray;
	border: 1px solid black;
	width: 200px;
	height: 200px;
	float: right;
	margin: 10px;
}

.clear{
	clear: both;
}